.parent{
    border: 2px solid;
    width: 600px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 450px;
}

.top-left{
    position: absolute;
    top: 0px;
}

.top-right{
    position: absolute;
    right: 0;
}

.bottom-left{
    position: absolute;
    bottom: 0;
}

.bottom-right{
    position: absolute;
    right: 0;
    bottom: 0;
}

.center{
    position: absolute;
    top:50%;
   left: 45%;
}